<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a class="back" href="/menu"> 뒤로가기 </a>
    <form action="/addmenu" method="post">
        <div class="element">
            <p>메뉴 이름</p>
            <input class="input" type="text" name="menu_name" />
            <p>가격</p>
            <input class="input" type="text" name="price" />
            <input class="submit_btn" type="submit" value="추가" />
        </div>
    </form>
</body>
</html>