<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <a href="/create" class="main-btn" style= "display :<%= signUp %>">회원가입</a>
      <a href="/login" class="main-btn"><%= login %></a>
      <a href="/menu" class="main-btn">메뉴</a>
      <a href="/basket" class="main-btn">장바구니</a>
      <a href="/order" class="main-btn">주문내역</a>
    </div>
  </body>
</html>
