<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <div class="create_form">
        <a class="back" href="/">
            메인페이지로
        </a>
    <form action="/login" method="POST">
        <div class="element">
            <p>아이디</p>
            <input class="userid" type="text" name="userid">
            <p>패스워드</p>
            <input class="userpw" type="text" name="userpw">
        </div>
        <div class="element">
            <input class="submit_btn" type="submit" value="로그인">
        </div>
    </form>
</body>
</html>